html {
	overflow-x:			hidden;
	max-height:			100vh;
	margin:				0px;
	padding:			0px;
}

body {
	overflow-x:			hidden;
	Font-family: 		Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	background-color: 	#000;
	color:				#fff;
	margin:				0px;
	max-height:			100vh;
}

.topbar {
	position:			absolute;
	top:				0px;
	height:				5vh;
	width:				100%;
	background-color:	#2b2b2b;
	color:				#696969;
}

h2 {
	margin-top:			0px;
	font-size:			2.5vh;
}

sub {
	color: 				#3b3b3b;
}

.chatmessages {
	position: 			absolute;
	display:			flex;
	flex-direction:		column;
	width:				100%;
	top:				5vh;
	height:				85vh;
	overflow-y:			hidden;
	overflow-x:			hidden;
	color:				#fff;
	justify-content:	flex-end;
}

.chatbar {
	position: 			absolute;
	display:			grid;
	grid-template-columns:	90% 10%;
	width:				100%;
	bottom:				0px;
	height:				5vh;
	background-color:	#2b2b2b;
	margin:				0px;
}

.messagetext {
	font-size:			20px;
	padding-left:		10px;
	text-shadow:		1px 1px #000;
}

.inner {
	width:				100%;
	height:				100%;
}

.messageholder {
	display:			inline-block;
	align-self:			flex-end;
	border-radius:		10px;
	padding:			20px;
	height:				auto;
	width: 				80%;
	margin:				10px 10% 10px 10%;
	transition-duration: 2s;
}

.chatinput {
	font-size:			2.5vh;
	padding:			0px;
	max-height:			5vh;
	width:				100%;
	border-width:		0px;
	background-color:   #3b3b3b;
	color:				#fff;
	padding-left:		20px;
	margin:				10px;
}

.chatlink {
	padding:			0.5vh 0px 0px 0px;
	width:				100%;
	display: 			block;
	margin-left: 		auto;
	margin-right: 		auto;
	text-align: 		center;
	font-size:			2.5vh;
	transition-duration: 0.2s;
	vertical-align:		middle;
}

.chatlink:hover {
	padding:			0.5vh 0px 0px 5px;
	cursor:				pointer;
	 text-shadow: -4px 0px #ef3550,
               -12px 0px #f48fb1,
               -24px 0px #7e57c2,
               -36px 0px #2196f3,
               -48px 0px #26c6da,
               -60px 0px #43a047,
               -72px 0px #eeff41,
               -84px 0px #f9a825,
               -96px 0px #ff5722;
}

.center {
  padding: 20% 0;
}
